
<div class="home-flex">
    <div class="sidebar-flex">
        <nav class="home-nav">
            <ul class="sidebar">
                <li><a>Sport</a></li>
                <li><a>Woman</a></li>
                <li><a>Mens</a></li>
                <li><a>New collection</a></li>
                <li><a>Old collection</a></li>
            </ul>
        </nav>

        <div class="color-flex">
            <p class="color-text">COLOR</p>
            <div class="color-inner">
                <div class="color-cell"></div>
                <div class="color-cell"></div>
                <div class="color-cell"></div>
                <div class="color-cell"></div>
                <div class="color-cell"></div>              
            </div>
        </div>
      
    </div>
    <div class="content-flex">
        <div id="home-card" class="card">
            <div class="card-content-flex">
                @{
                    for (int i = 0; i < 8; i++)
                    {
                        @await Html.PartialAsync("HomeProduct", null)
                    }
                }

            </div>


            <div id="paginationDiv" class="pagination">
                <a class="pre">&laquo;</a>
                <a class="prev">&lsaquo;</a>
                <a class="paginationButton">1</a>
                <a class="three_dot">. . .</a>
                <a class="paginationButton">5</a>
                <a class="paginationButton">6</a>
                <a class="paginationButton active">7</a>
                <a class="paginationButton">8</a>
                <a class="paginationButton">9</a>
                <a class="three_dot">. . .</a>
                <a class="paginationButton">500</a>
                <a class="next">&rsaquo;</a>
                <a class="pre">&raquo;</a>
            </div>

        </div>
    </div>

</div>
