
<div class="home-flex">
    <div class="sidebar-flex">


        <span>
            <button id="CategoriesDropDownBtn" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collCateg" aria-expanded="false" aria-controls="collapseExample">
                CATEGORIES
            </button>
        </span>
        <div class="collapse" id="collCateg">
            <div class="card card-body">
                <nav class="home-nav">
                    <ul class="sidebar">
                        <li><a>Sport</a></li>
                        <li><a>Woman</a></li>
                        <li><a>Mens</a></li>
                        <li><a>New collection</a></li>
                        <li><a>Old collection</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <p>
            <button id="CategoriesDropDownBtn" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collProduc" aria-expanded="false" aria-controls="collapseExample">
                PRODUCERS
            </button>
        </p>
        <div class="collapse" id="collProduc">
            <div class="card card-body">

            </div>
        </div>

        <p>
            <button id="CategoriesDropDownBtn" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collSize" aria-expanded="false" aria-controls="collapseExample">
                SIZE
            </button>
        </p>
        <div class="collapse" id="collSize">
            <div class="card card-body">

            </div>
        </div>

        <p>
            <button id="CategoriesDropDownBtn" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collClrs" aria-expanded="false" aria-controls="collapseExample">
                COLORS
            </button>
        </p>
        <div class="collapse" id="collClrs">
            <div class="card card-body">
                <div class="color-flex">
                    @*<p class="color-text">COLOR</p>*@
                    <div class="color-inner">
                        <div class="color-cell"></div>
                        <div class="color-cell"></div>
                        <div class="color-cell"></div>
                        <div class="color-cell"></div>
                        <div class="color-cell"></div>
                    </div>
                </div>
            </div>
        </div>

        <p>
            <button id="CategoriesDropDownBtn" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collGender" aria-expanded="false" aria-controls="collapseExample">
                GENDER
            </button>
        </p>
        <div class="collapse" id="collGender">
            <div class="card card-body">

            </div>
        </div>

        <p>
            <button id="CategoriesDropDownBtn" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collRtng" aria-expanded="false" aria-controls="collapseExample">
                RATING
            </button>
        </p>
        <div class="collapse" id="collRtng">
            <div class="card card-body">

            </div>
        </div>

    </div>

    <div class="content-flex">
        <div id="home-card" class="card">
            <div class="card-content-flex">
                @{
                    for (int i = 0; i < 8; i++)
                    {
                        @await Html.PartialAsync("HomeProduct", null)
                    }
                }

            </div>


            <div id="paginationDiv" class="pagination">
                <a class="pre">&laquo;</a>
                <a class="prev">&lsaquo;</a>
                <a class="paginationButton">1</a>
                <a class="three_dot">. . .</a>
                <a class="paginationButton">5</a>
                <a class="paginationButton">6</a>
                <a class="paginationButton active">7</a>
                <a class="paginationButton">8</a>
                <a class="paginationButton">9</a>
                <a class="three_dot">. . .</a>
                <a class="paginationButton">500</a>
                <a class="next">&rsaquo;</a>
                <a class="pre">&raquo;</a>
            </div>

        </div>
    </div>

</div>
