<link href="~/css/home/Posters/poster.css" rel="stylesheet" />
<link href="~/css/home/Posters/flex.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<div class="home-flex">



    <div class="main_slider">
        <div class="poster-flex">
            <p class="poster-title">SPRING / SUMMER COLLECTION 2017</p>
            <p class="poster-main">Get up to 30% Off<br />New Arrivals</p>
            <button type="button" class="btn btn-info poster-button">SHOP NOW</button>
        </div>
    </div>
   
    <div class="underCategories-flex">
        <div class="underCategories-item" style="background-image: url('../../../images/home/banner_1.jpg');">
            <div class="underCategories-inner-flex">
                <div class="box">
                    <a>WOMEN`S</a>
                </div>
            </div>
        </div>
        <div class="underCategories-item" style="background-image: url('../../../images/home/banner_2.jpg');">
            <div class="underCategories-inner-flex">
                <div class="box">
                    <a>ACCESSORIES`S</a>
                </div>
            </div>
        </div>
        <div class="underCategories-item" style="background-image: url('../../../images/home/banner_3.jpg');">
            <div class="underCategories-inner-flex">
                <div class="box">
                    <a>MEN`S</a>
                </div>
            </div>
        </div>
    </div>

    <div class="newsletter">
        <div class="newsletter-text-flex">
            <span class="newsletter-title">Newsletter</span>
            <span class="newsletter-subtitle">Subscribe to our newsletter and get 20% off your first purchase</span>

        </div>
        <div class="newsletter-input-flex">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your email" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="button-addon2">SUBSCRIBE</button>
                </div>
            </div>
        </div>

       
    </div>

   

</div>
