<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Shop + @ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
    <link href="~/css/home/sidebar/mySideBar.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="~/css/other/paginationStyle.css" rel="stylesheet" />
    <link href="~/css/other/newPaginationStyle.css" rel="stylesheet" />
    <link href="~/css/other/Dropdown.css" rel="stylesheet" />
    <link href="~/css/home/bootstrapRe.css" rel="stylesheet" />
    <link href="~/css/home/sidebar/size-flex.css" rel="stylesheet" />


    <script src="https://kit.fontawesome.com/8e6e62a7d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="menu">
        <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
        <input type="checkbox" id="tm">
        <ul class="main-menu clearfix">
            <li><a style="font-weight:700;" asp-area="" asp-controller="Home" asp-action="Index" asp-route-category="LOL">My Shop</a></li>
            <li>
                <a href="#">
                    Mens
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                </a>
                <input type="checkbox" id="sm1">
                <ul class="sub-menu">
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#" style="font-weight:600;text-align:center;">All categories</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Womans
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
                </a>
                <input type="checkbox" id="sm3">
                <ul class="sub-menu">
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#" style="font-weight:600;text-align:center;">All categories</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Kids
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm4">▾</label>
                </a>
                <input type="checkbox" id="sm4">
                <ul class="sub-menu">
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#" style="font-weight:600;text-align:center;">All categories</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Producers
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
                </a>
                <input type="checkbox" id="sm2">
                <ul class="sub-menu">
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#" style="font-weight:600;text-align:center;">All categories</a></li>
                </ul>
            </li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">About Us</a></li>
            <button class="btn btn-warning">Sign in</button>
            <button type="button" class="btn btn-light">
                <i class="fas fa-shopping-basket"></i>
                <span class="shopingCount">12</span>
            </button>
        </ul>
    </nav>


    <main>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>
    <div style="height:24.3vh"></div>


    <footer>
        <p class="footer-text">ABOUT US</p>
        <p class="footer-text">SHOP</p>
        <p class="footer-text">SUPPORT</p>
        <p class="footer-text">API</p>
    </footer>


    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
