<link href="~/css/home/card-flex.css" rel="stylesheet" />


@{
    ViewData["Title"] = "HomeProduct";
}

<div class="card myCard" style="width: 18rem;">
    <div class="card-image">
        <div class="card-image-exclusive">
            @*<p class="card-image-exclusive-text">&nbsp;EXCLUSIVE&nbsp;</p>*@
            <p class="card-image-new-text">&nbsp;NEW&nbsp;</p>
        </div>
        <i class="far fa-heart card-image-heart"></i>
    </div>
    <div class="card-body card-info-flex">
        <p class="card-info-text">TIRO 19 TRAINING PANTS</p>
        <div class="card-info-downInfo">
            <p class="card-info-text">$199.95</p>

            <div class="card-info-downInfo-rating">
                <i class="card-info-downInfo-star fas fa-star"></i>
                <i class="card-info-downInfo-star fas fa-star"></i>
                <i class="card-info-downInfo-star fas fa-star"></i>
                <i class="card-info-downInfo-star fas fa-star-half-alt"></i>
                <i class="card-info-downInfo-star far fa-star"></i>
                <span class="card-info-downInfo-ratingText">&nbsp;236</span>
            </div>
        </div>
    </div>
</div>


